.container
    .row
        form.form(name='template-form')
            .col-lg-12
                div.page-header(style='width:100%')
                    div(style='width: 10%; float:right')
                        a.btn.btn-lg.btn-primary(ng-click='saveTemplate()', style='float:right', ng-disabled="template-form.$invalid")
                            span Save
                    h4(style="") Template List:

            .col-sm-12
                .gridStyle(ng-grid='gridOptions',style='height:80vh;')
            div(style='width: 80%; float:right')
                .message.fadein.fadeout(ng-model='message', ng-show='showMessage' style='float:right') {{message}}

//footer.footer
//    .container
//        p
//            | RMS Ecosystem v1.0
//
