.block
        .container
            .row()
                .col-lg-12
                    h4.page-header(style="width:30%") Submit App

                .col-sm-12
                    form.form(name='form', ng-submit='submitapp(form)', novalidate='')
                        input#fileURL(type='file', webkitdirectory='webkitdirectory', directory='directory', multiple='multiple')
                        ul#fileOutput
                        .form-group(ng-class='{ "has-success": form.name.$valid && submitted,\
                        "has-error": form.name.$invalid && submitted }')
                            label App Name
                            input.form-control(type='text', name='name', ng-model='appinfo.appname', required='', style='width:55%')
                            p.help-block(ng-show='form.name.$error.required && submitted')
                                | App name is required

                        .form-group(ng-class='{ "has-success": form.foldername.$valid && submitted,\
                        "has-error": form.foldername.$invalid && submitted }')
                            label App Folder Name
                            input.form-control(type='text', name='foldername', ng-model='appinfo.apppath',ng-readonly="true", required='' , style='width:55%')
                            p.help-block(ng-show='form.name.$error.required && submitted')
                                | App path is required

                        .form-group(ng-class='{ "has-success": form.destination.$valid && submitted,\
                        "has-error": form.destination.$invalid && submitted }')
                            label Destination App Path
                            input.form-control(type='text', name='destination', ng-model='appinfo.desinationappath',required='' , style='width:55%')
                            p.help-block(ng-show='form.name.$error.required && submitted')
                                | Destination App path is required

                        .form-group(ng-class='{ "has-success": form.appconfig.$valid && submitted,\
                        "has-error": form.appconfig.$invalid && submitted }')
                            label App Configuration (JSON format)
                            textarea.form-control(rows='4', cols='50' ,name='appconfig', ng-model='appinfo.configjson',required='', style='width:55%')
                            p.help-block(ng-show='form.name.$error.required && submitted')
                                | App configuration is required

                        .form-group(ng-class='{ "has-success": form.description.$valid && submitted,\
                        "has-error": form.description.$invalid && submitted }')
                            label Description
                            input.form-control(type='text', name='description', ng-model='appinfo.appdescription' , style='width:55%')
                           // p.help-block(ng-show='form.name.$error.required && submitted')
                                | Description is required

                        //input#imageURL(type='file', accept='image/*')
                            br
                            img#output

                        div
                            button.redButton(type='submit' , style='width:55%')
                                | Submit App
                                //a.btn.btn-lg.btn-primary(ng-click='postAppInfo()', style='float:center', ng-disabled="template-form.$invalid")
                                    | Publish
                        div(style='padding-bottom:20px')
                            .gridStyle(ng-grid='gridOptions' style="display:none" )
