$list-entities-color = #777
$entity-details-bg-color = #f8f8f8
$entity-details-border-color = #e7e7e7
$error-color = #8a2828
$scroll-color = #F5F5F5
$scroll-font-color = #3B3C3E

/*Entity diagram*/
$entity-name-rect-fill = #eaeaea
$entity-name-rect-stroke = #d4d4d4
$entity-attrs-rect-fill = #fff
$entity-attrs-rect-stroke = #d4d4d4
$entity-name-text = #000
$entity-attrs-text = #000
$entity-attrs-scrollbar-fill = #f3f3f3
$entity-attrs-scrollbar-stroke = #d4d4d4
