.trash
    color rgb(209, 91, 71)

.btn-save-menu
  margin-top -35px
  float right

.btn-add-menu
  margin-top -35px
  margin-right 120px
  float right



.angucomplete-holder
  position relative

.angucomplete-holder  input
    height 35px

.angucomplete-dropdown
  border-color #ececec
  border-width 1px
  border-style solid
  border-radius 2px
  width 250px
  padding 6px
  cursor pointer
  z-index 9999
  position absolute
  margin-top -6px
  background-color #ffffff

.angucomplete-searching
  color #acacac
  font-size 14px

.angucomplete-description
  font-size 14px

.angucomplete-row
  padding 5px
  color #000000
  margin-bottom 4px

.angucomplete-selected-row, .angucomplete-row:hover
  background-color lightblue
  color #ffffff

.angucomplete-image-holder
  padding-top 2px
  float left
  height 34px
  width 34px
  margin-right 10px
  margin-left 5px

.angucomplete-image
  height 34px
  width 34px
  border-radius 50%
  border-color #ececec
  border-style solid
  border-width 1px

.admincontainer
  margin-top 100px



