<!-- Nested list template -->
<script type="text/ng-template" id="items_renderer.html">
    <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }">
        <section ng-show="!(item.editing)">
            <a class="btn btn-success btn-xs" nodrag ng-click="toggleNode(this)">
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>
        <label ng-show="!(item.editing)" ng-click="editGroup(item)">{{item.title}}</label>
        <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="deleteNode(this)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="" class="btn btn-primary btn-xs pull-right" nodrag ng-click="editNode(item)">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        </section>
        <div class="group-title angular-ui-tree-handle" nodrag ng-show="item.editing">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control form-controlhight" placeholder="Menu Name" ng-enter="saveMenu(item)" ng-model="item.title" required>
                     <span class="error" ng-show="item.$error.required">
                        Required!</span><br>
                </div>
                <div class="form-group">
                   <input type="text" class="form-control form-controlhight" placeholder="Search Pages" ng-model="item.pagetitle" ng-show="showinput" ng-click="inputclick()" ng-focus="inputclick()">
                   <!-- <autocomplete ng-model="result" attr-placeholder="type to search pages..." click-activation="true" data="pages" on-type="doSomething" on-select="doSomethingElse"></autocomplete>-->
                    <div ng-show="!(showinput)" angucomplete id="ex1" placeholder="Search Pages" pause="100" selectedobject="item.selectedPages" localdata="pages" searchfields="title" titlefield="title" minlength="1" inputclass="form-control form-control-small"/>
                </div>
                <button type="submit" class="btn btn-default" ng-click="saveMenu(item)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="cancelMenu(item)">Cancel</button>
            </form>
        </div><!--
        <input type="text" class="form-control" ng-model="item.title" ng-show="item.editing" ngEnter="saveMenu(item)"  style="width:50%;position: absolute;margin-top: -33px;margin-left: -10px;">
        <input type="text" class="form-control" ng-model="item.navigationpath" ng-show="item.editing" ng-enter="saveMenu(item)"  style="width:50%;position: absolute;margin-top: -33px;margin-left: -10px;">
        <button type="submit" class="btn btn-default" ng-show="item.editing"  ng-click="saveMenu(item)" style="position: relative;float: right;margin-top: -5px;">Save</button>
        -->
    </div>
    <ol ui-tree-nodes ng-model="item.items" ng-class="{ 'hidden': collapsed }">
        <li ng-repeat="item in item.items" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
    </ol>
</script>
<ui-tree callbacks="callbacks" drag-enabled="parameters.dragEnabled" empty-placeholder-enabled="parameters.emptyPlaceholderEnabled" max-depth="parameters.maxDepth" drag-delay="parameters.dragDelay" drag-distance="parameters.dragDistance" lock-x="parameters.lockX" lock-y="parameters.lockY" bound-to="parameters.boundTo" spacing="parameters.spacing" coverage="parameters.coverage" cancel-key="parameters.cancelKey" copy-key="parameters.copyKey" select-key="parameters.selectKey">
    <a class="btn btn-lg btn-primary btn-save-menu"  ng-click="newtopNode(list)">Add Menu</a>
    <a class="btn btn-lg btn-primary btn-add-menu" ng-click="submitMenuData(list)">Save</a>

    <ol ui-tree-nodes ng-model="list" style="margin-top:20px;">
        <li ng-repeat="item in list" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
    </ol>
</ui-tree>
    </div>
</div>
<!--
<pre class="code">{{ list | json }}</pre>-->

