<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" style="background: #e7e7e7;">
    <!--    <a href="/admin" class="navbar-brand">
       <div class="logo"></div>
    </a>-->
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="cssmenu" class="collapse navbar-collapse">
            <ul ng-show="isAdmin()" class="nav navbar-nav">
                <li><a href="/admin"><span>Manage Users</span></a>
                </li>
                <li><a href="/listtemplate"><span>Manage Template</span></a>
                </li>
                <li class="has-sub"><a href="/menu"><span>Manage Navigation</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="(!(isAdmin()) && isLoggedIn())">
                <li ng-repeat="item in list" ng-include="'items_renderer.html'"></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive(&quot;/signup&quot;)}"><a href="/signup">Sign up</a>
                </li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive(&quot;/login&quot;)}"><a href="/login">Login</a>
                </li>
                <li ng-show="(!(isAdmin()) && isLoggedIn())"><a href="/submitapp"><span>Submit App</span></a>
                </li>
                <li ng-show="isLoggedIn()">
                    <p class="navbar-text">Hello {{ getCurrentUser().name }}</p>
                </li>
                <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive(&quot;/settings&quot;)}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>-->
                <!--</li>-->
                <li ng-show="isLoggedIn()" ng-class="{active: isActive(&quot;/logout&quot;)}"><a href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="items_renderer.html">
    <!--<a ui-sref="renderpage({ id: item.pageid,title:(item.title).split(' ').join('_')})" ng-click="navclick"><span>{{item.title}}</span></a>-->
    <a ng-click="navclick(item)"><span>{{item.title}}</span></a>

    <ul ng-model="item.items" class="sub-level">
        <li ng-repeat="item in item.items" ng-include="'items_renderer.html'" ng-class="{ 'has-sub': item.items.length>0}"></li>
    </ul>
</script>