h2 Edit Entity
form(novalidate="")
    textarea.ral-command(cols="70", rows="7", ng-model="definition")
    .error(ng-if="error")
        | {{error}}
    .button-wrapper
        button.create.btn.btn-default(ng-click="onEdit()") Save
        button.cancel.btn.btn-default(ng-click="onCancel()") Cancel