// Social buttons
// --------------------------------------------------

.btn-facebook
    color #fff;
    background-color #3B5998;
    border-color #133783;

.btn-twitter
    color #fff;
    background-color #2daddc;
    border-color #0271bf;

.btn-google-plus
    color #fff;
    background-color #dd4b39;
    border-color #c53727;

.btn-github
    color #fff;
    background-color #fafafa;
    border-color #ccc;

.page-col-center
    width 400px
    margin 0 auto
    bottom 0
    padding 5px 0

.rms-logo
    float left
    margin-top 25px;
    background transparent url('../assets/images/RMSloginPageLogo.png') no-repeat left top;
    width 190px;
    height 190px;

.profile-img
    border-bottom-left-radius 50%;
    border-bottom-right-radius 50%;
    border-top-left-radius 50%;
    border-top-right-radius 50%;
    color rgb(64, 64, 64);
    margin-bottom 10px;
    margin-left 68px;
    width 110px;
    padding-top 18px

.form-control
    height 45px

.need-help-reverse
    float right
.register
    margin-top 20px
    margin-left 100px

.remember
    font-size 13px

.loginoption
    margin-top 10px

.loginbtmmsg
  border: 0px solid #bcbcbc;
  width: 100%;  
  margin-top 20px