div(ng-controller="EntityManagementEntityListCtrl" ng-switch="" on="status")
    h2
        | Entities List
    div(ng-switch-when="loading")
        | Loading entities...
    div(ng-switch-when="done")
        ul.entity-list
            li(ng-repeat="entity in entities", ui-sref-active="active")
               a.entity(ui-sref="entityManagement.viewEntity({ id: entity._id })"){{entity.name}}
    .error(ng-switch-when="error")
        | Error loading entities!
    button.create-entity.btn.btn-default(ui-sref="entityManagement.createEntity")
        | Create Entity