.entity-list
	padding-left: 10px
	list-style-type: none
	.active .entity
		font-weight: bold
	.entity
		color: $list-entities-color

.entity-details-container
	.entity-details
		width: 500px
		padding: 10px
		background: $entity-details-bg-color
		border: 1px solid $entity-details-border-color
		border-radius: 4px
		font-family: monospace
	.ral-command
		font-family: monospace		
	.create, .cancel
		margin-right: 10px
	.error
		color: $error-color
		font-weight: bold
		margin-bottom: 5px